.app .header {
  width: 100%;
  background-color: #eeeeee;
}
.app .header .container {
  min-width: 500px;
  padding: 40px 100px;
}
.app .header .container .title {
  font-size: 30px;
}
.app .con {
  margin: 20px 100px;
}
.app .con .form .formItem label {
  font-weight: bold;
}
.app .con .form .formItem input,
.app .con .form .formItem textarea {
  width: 100%;
  margin: 10px 0;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 10px 0;
  text-indent: 10px;
  line-height: 18px;
}
.app .con .form .btn {
  position: relative;
  height: 30px;
}
.app .con .form .btn button {
  position: absolute;
  right: 0;
  cursor: pointer;
  width: 80px;
  height: 30px;
  margin: 10px 0;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
.app .con .commentList .commentHeader {
  font-size: 20px;
}
.app .con .commentList .empty {
  font-size: 30px;
  padding: 20px 0;
}
.app .con .commentList .commentBody .commentItem {
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 10px 5px;
  margin: 5px 0;
  position: relative;
}
.app .con .commentList .commentBody .commentItem .commentSay {
  font-size: 18px;
  padding-bottom: 5px;
}
.app .con .commentList .commentBody .commentItem .commentBtn {
  position: absolute;
  top: 5px;
  right: 5px;
}
.app .con .commentList .commentBody .commentItem .commentBtn button {
  position: absolute;
  right: 0;
  cursor: pointer;
  width: 80px;
  height: 30px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
.app .con .commentList .commentBody .commentItem .commentReply {
  font-size: 16px;
  padding-left: 40px;
}
